[Unit]
Description="Termaria data gatherer for statistics"
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0
StartLimitBurst=30

[Service]
Type=simple
User=muto
WorkingDirectory=/home/muto/TermariaData
ExecStart=/home/muto/TermariaData/gather
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
